
header {
    background-color: rgb(168, 118, 136);
    color: white;
    text-align: center;
    margin: 0;
    padding: 1.8%;
    
}

.logo {
    position: absolute;
    
    width: 7%;
    left: 5%;
      
    border-radius: 50%; 
    aspect-ratio: 1 / 1;;
    object-fit: cover;

}

.casa img {
    position: absolute;
    float: right;
    width: 4%;
    right: 10%;
}

.contenedor-recetas {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    justify-items: center;
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.recetas img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 0 8px rgba (0, 0, 0, 0.2);
}

.recetas {
    text-align: center;
    
    
}

html {
    background-image: url(imagenes/fondo3.jpg)
    
}

section h3 {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    text-align: center;
}

footer {
    text-align: center;
}

.texto {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-left: 0%;
    margin-top: 4%;
    margin-left: 9%;
    margin-bottom: 5%;

}

.imagenes img {
    border-radius: 50%;
    width: 30%
    
}

.frutas img {
    width: 40%;
    border-radius: 50%;
}

.origen {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}

.historia img {
    grid-template-columns: auto auto auto auto;
    width: 18%;
    margin-left: 5%;
}

.recetas p {
    color: rgb(0, 0, 0);
}

section a  {
    text-decoration: none;
}

header nav a {
    text-decoration: none;
    color: white;
}

header nav a:hover {
    font-weight: bold;
}

.contenedor-recetas img {
         transition: transform 0.3s ease;
         border-radius: 10%;
}

.contenedor-recetas img:hover {
          transform: scale(1.05);
}

body.modo-oscuro {
            background-image: none;
            background-color: rgb(54, 47, 47);
            color: white;
}

#modoOscuroToggle {
            right: 2%;
            color: rgb(44, 42, 42);
            position: absolute;
            top: 2%;
        }
       